.v-container .image-container{
    border: 8px solid rbg(232 232 232 / 93%);

}

.v-container>div{
    flex: 1
}
.v-right{
    gap: 0/5 rem;
}

.accordion{
    margin-top: 2rem;
    border: none;

}
.accordionItem{
    background: white;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;

}
.accordionItem.expanded{
    box-shadow: var(--shadow);
    border-radius: 6px;
}
.accordion>:nth-child(1):hover{
    scale: 1.025;
    cursor: pointer;
    background: linear-gradient(
        180deg, 
        rgba(231, 5, 5, 0) 0%,
        rgba(91, 243, 53, 0.46) 217.91%
    )
}
.accordion>:nth-child(2):hover{
    scale: 1.025;
    cursor: pointer;
    background: linear-gradient(
        180deg, 
        rgba(231, 5, 5, 0) 0%,
        rgba(91, 243, 53, 0.46) 217.91%
    )
}
.accordion>:nth-child(3):hover{
    scale: 1.025;
    cursor: pointer;
    background: linear-gradient(
        180deg, 
        rgba(231, 5, 5, 0) 0%,
        rgba(91, 243, 53, 0.46) 217.91%
    )
}
.accordionButton{
   background: rgb(108, 10, 219);
   padding: 1rem;
   width: 100%;
   justify-content: space-between; 
   cursor: pointer;
}
.icon{
    padding: 10px;
    background: #eeeeff;
    border-radius: 5px;

}

.icon svg{
    fill: var(--blue)
}

.accordionButton .primaryText{
    font-size:1.1rem;
}